@charset "utf-8";
/* CSS Document */

#paginainicio
{background:#06F}

#titulo
{background:#C09; color:#FF0}

#pienombre
{background:#C09; color:#FF0}
#introduccion
{color:#CCC; size:3; text-align:justify;background:#066;with:98%, margin1%}
#titulo2
{background:#F00; color:#0F0}
#exoticas
{background:#6F3; color:#C60}
#contenttido
{background:#003; color:#FFF}
#secoss
{background:#700; color:#0C3}
#dulcee
{background:#003; color:#F63}
#curcuu
{background:#009F55; color:#3FF}
#critti
{background:#50F; color:#FF0}
#bayas
{background:#C60}
#citricos
{background:#2A7F55}
#curcubi
{background:#009FAA}
#dulce
{background:#A00}
#secos
{background:#555FAA}